<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">

 <a th:href="@{/}">Musical instrument</a>
 | &nbsp;
 <a th:href="@{/music_instruments}">All musical instrument</a>
 | &nbsp;
 <a th:href="@{/addMusicInstrument}">Add musical instrument</a>
 | &nbsp;
 <a th:href="@{/deleteMusicInstrument}">Delete musical instrument </a>
 | &nbsp;
 <a th:href="@{/musicInstrumentByName}">Show musical instrument by name</a>
 | &nbsp;
 <a th:href="@{/editType}">Change type</a>
 | &nbsp;
 <a th:href="@{/log}">Observer</a>
</div>

